<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Quên mật khẩu</div>
        <div class="card-body">
            <form method="post" >
            {{#if thongBao}}
            <div class="warningLogin">{{thongBao}}</div>
            {{/if}}
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <input type="password" name="password" id="password" class="form-control" placeholder="password" required="required" autofocus="autofocus">
                                <label for="password">Nhập mật khẩu hiện tại</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <input type="password" name="newpassword" id="newpassword" class="form-control" placeholder="newpassword" required="required" autofocus="autofocus">
                                <label for="newpassword">Nhập mật khẩu mới</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Đổi mật khẩu
                </button>
            </form>
        
        </div>
    </div>
</div>