<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Thông tin tài khoản</div>
        <div class="card-body">
            <form method="post" >
                <div class="form-group">
                    <p>Họ tên</p>
                    <div class="form-row">
                        <div class="col-md-12">
                            {{!-- <div class="form-label-group"> --}}
                                {{!-- <p>Họ tên</p> --}}
                                <input type="text" value="{{user.name}}" name="name" id="name" class="form-control" placeholder="Name" required="required" autofocus="autofocus">
                                {{!-- <p class="form-control">{{user.name}}</p> --}}
                                {{!-- <label for="name">Họ tên</label> --}}
                            {{!-- </div> --}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <p>Tên đăng nhập</p>
                               <p class="form-control">{{user.username}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <p>Email</p>
                               <p class="form-control">{{user.email}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">

                    <button type="submit" class="btn btn-primary mx-4" >
                        <i class="fa"></i> Chỉnh sửa
                    </button>
                    <a class="btn btn-secondary mx-4" href="/">
                        Hủy
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>