<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Quên mật khẩu</div>
        <div class="card-body">
            <form method="post" >
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <input type="text" name="email" id="email" class="form-control" placeholder="Email" required="required" autofocus="autofocus">
                                <label for="email">Email</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Gửi
                </button>
            </form>
        
        </div>
    </div>
</div>